<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">

    <sql id="roleColumn">
        rid,
        role_name,
        is_system,
        description
    </sql>

    <resultMap id="roleMap" type="com.example.demo.entity.Role">

    </resultMap>

<!--   字段 用 ${} 注入-->
    <select id="findRolesByPage" resultMap="roleMap">
        select <include refid="roleColumn"/> from match_role
        <if test="column != null and column != '' and search != null and search != ''">
            where ${column} like CONCAT('%',#{search},'%')
        </if>
        <if test="sortColumn != null and sortColumn != ''">
            order by #{sortColumn}
            <if test="asc == false">
                desc
            </if>
        </if>
        <if test="sortColumn == null">
            order by rid
        </if>

    </select>
</mapper>
